---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import Button from "../../components/Button.astro";
import List from "../../components/List.astro";
import ListItem from "../../components/ListItem.astro";
import { getCollection } from "astro:content";

const proyects = await getCollection("proyects");
---

<Layout title="Alexis Narvaez | Proyects.">
  <main class="m-auto w-full flex flex-col">
    <div
      class="m-auto p-2 max-w-5xl relative w-full sm:p-4 md:p-6 "
    >
      <Button href="/" class="">Volver</Button>
      <Title level="h2" class="dark:text-white mt-5">Proyectos.</Title>
      <List>
        {
          proyects.map((proyect) => (
            <ListItem
              title={proyect.data.title}
              href={`${proyect.data.url}`}
              tags={proyect.data.tags}
              description={proyect.data.description}
              img={proyect.data.heroImage}
            />
          ))
        }
      </List>
    </div>
  </main>
</Layout>
