---
import CardContent from "./CardContent.astro";
import ExternalLink from "./icons/ExternalLink.astro";
import "./Card.css";

interface Props {
	title?: string;
	body?: string;
	href?: string;
  class?:string;
  level:string;
  target?: string
}


const { href, title, body, level, target = "_blank" } = Astro.props;
---
<section class={`card ${Astro.props.class} ${ href ? 'relative': '' }`}>
  { href ? (
      <a href={href} target={ target  } class="w-full h-full">
        <ExternalLink class="absolute right-4 top-4 size-7" />
        <CardContent 
          title={title} 
          body={body} 
          level={level} 
        >
          <slot/>
        </CardContent>  
      </a>
      ) : (
      <CardContent 
        title={title} 
        body={body} 
        level={level} 
      >
        <slot/>
      </CardContent>
    )}
</section>

