---
//import "../styles/post-styles.css";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
const updatedDate = null;
//import Header from '../components/Header.astro';
//import Footer from '../components/Footer.astro';
---

<html lang="es" class="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <!-- <Header /> -->
    <main>
      <article>
        <Button href="/blog" class="">Volver</Button>
        <div class="hero-image">
          {
            heroImage && (
              <img src={"/blog" + heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <Title level="h1" class="dark:text-gray-300">{title}</Title>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
